<ion-content>
  
  <app-header></app-header>
  <ion-grid class="page-content">
      <!--HEADER content Mobile-->
    <ion-row justify-content-center class="bg-flex bg-lg-none">
      <ion-col size="6" size-md="5" size-lg="4">
        <img src="../../assets/img/logo_blanc.png" class="logo-header cliquable">
      </ion-col>
    </ion-row>
      <!--HEADER content Mobile-->

      <ion-item>
        <ion-label position="floating">Floating Label</ion-label>
        <ion-input></ion-input>
      </ion-item>
    
  </ion-grid>
      
  <!-- insert header mobile -->
  
</ion-content>
