<ion-content>
                    <!--HEADER DESKTOP-->
  <ion-grid class="bg-none bg-lg-block header_desktop w-100">
    <ion-row>
      <ion-col size="4">
        <ion-row justify-content-center>
          <ion-col size="auto" class="h-100 w-100 cliquable">
            <img src="../../assets/img/logo_blanc.png" class="logo-header" (click)="goTo('/')">
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="6">
        <ion-row justify-content-end class="h-100">
          <ion-col size="3">
            <div class="header-content">
                Catalogue
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="header-content">
              Console
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="header-content">
              Participer
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="header-content kid">
              KID
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="2">
        <ion-row class="h-100" justify-content-end>
          <ion-col size="6">
            <div class="header-content cliquable" (click)="goTo('connexion')">
              Connexion
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="header-content cliquable" (click)="goTo('inscription')">
              Inscription
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
                    <!--HEADER DESKTOP-->

  <ion-grid class="page-content">
      <!--HEADER content Mobile-->
    <ion-row justify-content-center class="bg-flex bg-lg-none">
      <ion-col size="6" size-md="5" size-lg="4" (click)="goTo('/')">
        <img src="../../assets/img/logo_blanc.png" class="logo-header cliquable">
      </ion-col>
      <!--HEADER content Mobile-->
    </ion-row>
  
    <ion-row class="container pt-4">
      <ion-col size="7" size-md="8" size-lg="9">
        <ion-row class="pr-4">
          <ion-col>
            <h1 class="section-title mt-0">Le jeu du mois</h1>
          </ion-col>
        </ion-row>
        <ion-row class="pr-4">
          <ion-col>
            <img src="../../assets/img/Galaga.png" class="">
          </ion-col>
        </ion-row>
        <ion-row class="pr-4">
          <ion-col>
            <h2 class="sub-title" text-center>Galaga : Starbuster II</h2> <!--LE TITRE A METTRE ICI-->
          </ion-col>
        </ion-row>
        <ion-row class="pr-4">
          <ion-col>
            <div class="description">Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.<br><br>

                Alios autem dicere aiunt multo etiam inhumanius (quem locum breviter paulo ante perstrinxi) praesidii adiumentique causa, non benevolentiae neque caritatis, amicitias esse expetendas; itaque, ut quisque minimum firmitatis haberet minimumque virium, ita amicitias appetere maxime; ex eo fieri ut mulierculae magis amicitiarum praesidia quaerant quam viri et inopes quam opulenti et calamitosi quam ii qui putentur beati.<br>
                
                Metuentes igitur idem latrones Lycaoniam magna parte campestrem cum se inpares nostris fore congressione stataria documentis frequentibus scirent, tramitibus deviis petivere Pamphyliam diu quidem intactam sed timore populationum et caedium, milite per omnia diffuso propinqua, magnis undique praesidiis conmunitam.</div> <!--LE description A METTRE ICI-->
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="5" size-md="4" size-lg="3">
        <ion-row>
          <ion-col>
            <h1 class="section-title little mt-2">La sélection RAYON</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="overflow-y">
            <ion-row>
              <ion-col>
                <img src="../../assets/img/template_selection.png" class="">
                <div class="selection_text text-center">
                  Template Selection
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img src="../../assets/img/template_selection.png" class="">
                <div class="selection_text text-center">
                  Template Selection
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img src="../../assets/img/template_selection.png" class="">
                <div class="selection_text text-center">
                  Template Selection
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img src="../../assets/img/template_selection.png" class="">
                <div class="selection_text text-center">
                  Template Selection
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img src="../../assets/img/template_selection.png" class="">
                <div class="selection_text text-center">
                  Template Selection
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img src="../../assets/img/template_selection.png" class="">
                <div class="selection_text text-center">
                  Template Selection
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <img src="../../assets/img/template_selection.png" class="">
                <div class="selection_text text-center">
                  Template Selection
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
      
                    <!--HEADER Mobile-->
  <ion-grid class="bg-block bg-lg-none header_mobile w-100">
    <ion-row class="h-100" justify-content-center align-item-center>
      <ion-col >
        <div class="header-content">
          Catalogue
        </div>
      </ion-col>
      <ion-col>
        <div class="header-content">
          Console
        </div>
      </ion-col>
      <ion-col>
        <div class="header-content">
          Participer
        </div>
      </ion-col>
      <ion-col size="1" text-center no-padding>
        <div class="header-content kid">
          KID
        </div>
      </ion-col>
      <ion-col text-center>
        <div class="header-content cliquable" (click)="goTo('connexion')">
          Connexion
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--HEADER Mobile-->
</ion-content>
