.section-title{
    border-bottom: 2px solid #484848;
    color: #fdfdfd;
}
.section-title.little{
    font-size: 20px;
    color: #d5d5d5;
}
.description{
    color: white;
}
.sub-title{
    color: lightgray;
    text-decoration: underline lightgray;
}
.selection_text{
    position: absolute;
    top: 15%;
    left: 10%;
    font-weight: 1000;
}
.overflow-y{
    overflow-y: scroll;
    max-height: 70vh;
}